.image-container {
  width: 60vw;
  max-width: 600px;
  position: relative;
}

.img-header {
  border: 20px solid white;
}

.block-background {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

.name {
  position: absolute;
  line-height: 1.2;
  top: 50%;
  left: 70%;
  width: clamp(280px, 25vw, 450px);
  margin-bottom: 300px;
  opacity: 0.8;
}

.name h2 {
  font-size: clamp(22px, 7vw, 70px);
  letter-spacing: 4px;
}

.name .last {
  margin: 100px 0 0 80px;
}

.position {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto ", sans-serif;
  margin-top: 260px;
  width: clamp(280px, 25vw, 450px);
}

.position > div {
  width: clamp(30px, 3vw, 60px);
  height: 2px;
  background-color: white;
  margin-right: 20px;
  border-radius: 10px;
}

.position h2 {
  letter-spacing: 2px;
  font-size: clamp(16px, 1vw, 26px);
  opacity: 0.6;
}

/* second section */

.section-title {
  font-size: 40px;
  text-transform: uppercase;
  display: inline-block;
  position: relative;
}

.section-title::after {
  content: "projects";
  position: absolute;
  top: -15px;
  left: -100px;
  color: black;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgba(255, 255, 255, 0.294);
  color: transparent;
  letter-spacing: 5px;
}

/*portfolio*/

.portfolio-content {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 95vw;
  padding: 15px 100px;
}

.portfolio-card {
  right: 0;
  padding: 15px;
  cursor: pointer;
  position: relative;
  min-width: 330px;
  max-width: 600px;
}

.portfolio-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.portfolio-title h3 {
  color: white;
  font-size: clamp(18px, 3vw, 35px);
  letter-spacing: 2px;
  font-weight: 400;
  display: inline-block;
  text-transform: capitalize;
  margin-top: 10px;
}

/*about*/

.about::after {
  content: "about me";
}

.background-image-container {
  position: relative;
  width: 90vw;
  max-width: 900px;
  position: relative;
}
